<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <UapAppxPackageBuildMode>StoreUpload</UapAppxPackageBuildMode>
    <AppxBundle>Never</AppxBundle>
    <AppxBundlePlatforms>$(Platform)</AppxBundlePlatforms>
    <GenerateAppInstallerFile>false</GenerateAppInstallerFile>
    <AppxPackageDir>AppPackages\</AppxPackageDir>
  </PropertyGroup>
</Project>
